/* dshkdlj */

/* some text */

/* selected tag {
  property: value;
} */

h1 {
  color: blue;
}

li {
  color: rgb(103, 58, 183);
}

p{
  color: rgba(194, 87, 195, 0.75)
}

h4{
  color: rgba(194, 87, 195, 0.25)
}
