<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
  {% block body_block%}
    <div class="jumbotron">
      {% if registered %}
        <h1>Thanks for registering!</h1>
      {% else %}
        <h1>Register Here!</h1>
        <h3>Fill out the form:</h3>
        <div class="form-group">
          {% load crispy_forms_tags %}
          <form enctype='multipart/form-data' method="post">
            {% csrf_token %}
            {{ user_form|crispy }}
            <p></p>
            {{ profile_form|crispy }}
            <p></p>
            <button type="submit" class="btn btn-primary" value="submit">Submit</button>
          </form>
        </div>
      {% endif %}
    </div>
  {% endblock %}
