<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WELR</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
  </head>
  <body>
    <h1>WELR!</h1>
    <img src="{% static "/images/WELR.png" %}" alt="BAD NEWS BEARS">

    <h2>Here are the access records.</h2>

    <div class="level2">
      {% if access_records %}
        <table>
          <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
          </thead>
          {% for acc in access_records %}
          <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>
          No records found!
        </p>
      {% endif %}
    </div>

  </body>
</html>
